ArenaStars/ArenaStars/Service References/GameLogsServiceReference/ArenaStars.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArenaStars.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArenaStars.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundPic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanDuration" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BanReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elo" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTerminated" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastLoggedIn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" type="tns:User.RankEnum" />
      <xs:element minOccurs="0" name="ReportList" nillable="true" type="tns:ArrayOfReport" />
      <xs:element minOccurs="0" name="SignUpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tournaments" nillable="true" type="tns:ArrayOfTournament" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameStats" nillable="true" type="tns:ArrayOfGameStats" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participants" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="Type" type="tns:Game.GameTypeEnum" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfGameStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameStats" nillable="true" type="tns:GameStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameStats" nillable="true" type="tns:ArrayOfGameStats" />
  <xs:complexType name="GameStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deaths" type="xs:int" />
      <xs:element minOccurs="0" name="Game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="HsRatio" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Kills" type="xs:int" />
      <xs:element minOccurs="0" name="SteamId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStats" nillable="true" type="tns:GameStats" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:simpleType name="Game.GameTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ranked" />
      <xs:enumeration value="Unranked" />
      <xs:enumeration value="Tournament" />
      <xs:enumeration value="Challange" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Game.GameTypeEnum" nillable="true" type="tns:Game.GameTypeEnum" />
  <xs:simpleType name="User.RankEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unranked" />
      <xs:enumeration value="Bronze" />
      <xs:enumeration value="Silver" />
      <xs:enumeration value="Gold" />
      <xs:enumeration value="Platinum" />
      <xs:enumeration value="Diamond" />
      <xs:enumeration value="Challanger" />
      <xs:enumeration value="Master" />
      <xs:enumeration value="Grandmaster" />
      <xs:enumeration value="Legend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="User.RankEnum" nillable="true" type="tns:User.RankEnum" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" type="tns:Report.ReasonEnum" />
      <xs:element minOccurs="0" name="ReportedUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Reportee" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="SubmittedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:simpleType name="Report.ReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cheating" />
      <xs:enumeration value="Toxic" />
      <xs:enumeration value="Griefing" />
      <xs:enumeration value="Harassment" />
      <xs:enumeration value="Offensive_Content" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Report.ReasonEnum" nillable="true" type="tns:Report.ReasonEnum" />
  <xs:complexType name="ArrayOfTournament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tournament" nillable="true" type="tns:Tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournament" nillable="true" type="tns:ArrayOfTournament" />
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfGame" />
      <xs:element minOccurs="0" name="HasEnded" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvitedPlayers" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="IsLive" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRank" type="tns:User.RankEnum" />
      <xs:element minOccurs="0" name="MinRank" type="tns:User.RankEnum" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participants" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="PlayerLimit" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrophyPic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:Tournament.TournamentTypeEnum" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tournament" nillable="true" type="tns:Tournament" />
  <xs:simpleType name="Tournament.TournamentTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Veteran" />
      <xs:enumeration value="AllStars" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Invite" />
      <xs:enumeration value="Unproven" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Tournament.TournamentTypeEnum" nillable="true" type="tns:Tournament.TournamentTypeEnum" />
</xs:schema>